@{
    ViewData["Title"] = "Home Page";
}
<h2>Danh sách sinh viên</h2>
<form asp-action="Index">
<label>Enter Your Name</label>
<input type="text" name="FullName" placeholder="Your Name">
<input type="email" name="email" placeholder="Your Email">
<button type="submit">Save</button>
</form>
<h2>@ViewBag.name</h2>
